.playlist {
  width: 25%;
  height: 80%;
  padding: 10px;
  background-color: white;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.info {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.info h3 {
  margin: 5px 0;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btns .btn {
  width: 105px;
  height: 30px;
  padding: 5px;
  border: 3px solid black;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.btns .portfolio-btn {
  margin-right: 20px;
}

.btn:hover {
  background-color: rgb(160, 191, 248);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  color: white;
}

.portfolio-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.btn h5 {
  margin-left: 3px;
}

.portfolio-btn img {
  width: 20px;
  height: 20px;
}

.btn.heart-btn {
  justify-content: flex-start;
  padding-left: 10px;
  cursor: pointer;
  user-select: none;
}

.heart-btn .heart {
  font-size: 14px;
}
